<%= form_with(model: person_workshop) do |form| %>
  <% if person_workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person_workshop.errors.count, "error") %> prohibited this person_workshop from being saved:</h2>

      <ul>
        <% person_workshop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_name %>
    <%= form.text_field :person_name %>
  </div>

  <div class="field">
    <%= form.label :person_last_name %>
    <%= form.text_field :person_last_name %>
  </div>

  <div class="field">
    <%= form.label :person_telephone %>
    <%= form.text_field :person_telephone %>
  </div>

  <div class="field">
    <%= form.label :person_identification %>
    <%= form.text_field :person_identification %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <% @cities.each do |city_id| %>
    <h1><% city_id %></h1>

  <% end %> %>
  <div class="field">
    <%= form.label :city_id %>

    <%= form.select :city_id, options_for_select([["Bogota", 1], ["Student", 2]]) %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
