<p id="notice"><%= notice %></p>

<h1>Service Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Objective</th>
      <th>Duration</th>
      <th>Car specialization</th>
      <th>Workshop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_workshops.each do |service_workshop| %>
      <tr>
        <td><%= service_workshop.name %></td>
        <td><%= service_workshop.objective %></td>
        <td><%= service_workshop.duration %></td>
        <td><%= service_workshop.car_specialization %></td>
        <td><%= service_workshop.workshop_id %></td>
        <td><%= link_to 'Show', service_workshop %></td>
        <td><%= link_to 'Edit', edit_service_workshop_path(service_workshop) %></td>
        <td><%= link_to 'Destroy', service_workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Workshop', new_service_workshop_path %>
